# ======================= #
# Unreal Engine generated #
# ======================= #
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# ======================= #
# Visual Studio generated #
# ======================= #
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.user
 
# ============ #
# OS generated #
# ============ #
Thumbs.db

# ============ #
# Build        #
# ============ #
Stage/